<style>
  .table th{
    text-align:center;
  }
  .table td{
    text-align:center;
    vertical-align:middle;
    padding:unset;
  }
  .block div input{
    margin-top:3px;
  }
</style>
<div class="container" style="padding-top:1.5rem;">
  <h5 class="row px-3 py-3">결제 확인</h5>
  <table class="table border-bottom ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">이미지</th>
        <th scope="col">상품이름</th>
        <th scope="col">상품정보</th>
        <th scope="col">가격</th>
        <th scope="col">수량</th>
      </tr>
    </thead>
    <tbody>
      <% if @order.present? %>
        <% @order.line_items.each_with_index do |line_item, index|  %>
          <tr>
            <td><%= index+1 %></td>
            <td><%= image_tag(line_item.product.image_url, alt:"", style:"width:70px; height:65px;")%></td>
            <td><%= line_item.product.title %></td>
            <td><%= line_item.product.body %></td>
            <td><strong><%= number_with_delimiter(line_item.product.price) %> 원</strong></td>
            <td><span id="quantity-<%= line_item.id %>"><%= number_with_delimiter(line_item.quantity ? line_item.quantity : 1) %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" style="padding-top:20px; padding-bottom:15px;">
          <strong>총 :
            <span id="item-total">
              <%= number_with_delimiter @order.line_items.sum(:amount) %>
            </span>원
          </strong>
        </td>
      </tr>
    </tfoot>
  </table>
  <h5 class="row px-3 py-3">주소 입력</h5>
  <%= form_for @order, url: payment_completed_order_path(@order),name: "myform", action:"handle-data.php", class:"payment_st", method: :post do |f| %>
  결제하기: <input type="text" name='query' />
    <div class="block p-4 border-top">
      <%# <%= f.text_field :address_1, style:"margin-bottom:10px;padding:15px;border:solid 1px lightgray;border-radius:10px;width:700px;"%>
      <div class="button button-outline zipcode_btn col-30 my-3" style="padding-bottom:8px; border-radius:5px;">
        <!-- <input type="text" id="sample4_roadAddress" placeholder="도로명주소" style="width:35rem; padding:5px; border-radius:5px;"> -->
        <%= f.text_field :address_1, id:"sample4_roadAddress", placeholder:"도로명주소", style:"width:35rem; padding:5px; border-radius:5px;" %>
        <!-- <input type="text" id="sample4_postcode" placeholder="우편번호" style="padding:5px; border-radius:5px; margin-left:5rem;"> -->
        <%= f.text_field :post_code, id:"sample4_postcode", placeholder:"우편번호", style:"padding:5px; border-radius:5px; margin-left:5rem;" %>
        <input type="button" class="btn btn-dark" onclick="sample4_execDaumPostcode()" value="우편번호 찾기" style="padding:5px; border-radius:5px; margin-bottom:7px;">
        <!-- <input type="text" id="sample4_jibunAddress" placeholder="지번주소" style="width:35rem; padding:5px; border-radius:5px;"> -->
        <%= f.text_field :address_2, id:"sample4_jibunAddress", placeholder:"지번주소", style:"width:35rem; padding:5px; border-radius:5px;" %>
        <span id="guide" style="color:#999"></span>
        <%= f.text_field :address_3, placeholder: "나머지 주소 입력", style:"margin-bottom:10px; padding:5px; border-radius:5px; width:35rem;"%>
        <%= f.text_field :note, placeholder: "ex) 부재 시 경비실에 맡겨주세요.", style:"width:35rem; padding:5px; border-radius:5px;" %>
        <%= f.hidden_field :state, value: :complete %>
        <!-- <input type="button" class="btn btn-dark" onclick="payment_btn()" value="결제하기"> -->
        <%# <%= button "결제하기", class:"iamport-btn btn btn-dark", onclick:"payment-btn()", style:"margin-left:16.7rem; margin-bottom:10px; width:6rem;" %>
        <!-- <button class="btn btn-dark" onclick="payment_btn()">결제하기</button> -->
      </div>
    </div>
    <%= link_to "javascript: payment_btn()" %>
  <% end %>
  <form name="myform" action="handle-data.php">
    Search: <input type='text' name='query' />
    <a href="javascript: submitform()">
    <img src="go.gif" width="33" height="19" border="0" />
    </a>
  </form>
  <!-- <button type="button" class="btn btn-dark" onclick="payment_btn()" style="float:right; border-radius:5px;">결제하기</button> -->
</div>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  // $(document).ready(function () {
    // console.log('함수실행')
  function payment_btn(){
    var IMP = window.IMP; // 생략가능
    IMP.init('imp37336175')
    var address_1 = '<%= params[:address_1] %>';
    IMP.request_pay({
      pg : 'inicis', // version 1.1.0부터 지원.
      pay_method : 'card',
      merchant_uid : 'merchant_' + new Date().getTime(),
      name : '<%= truncate @order.line_items.map{|line_item| line_item&.product&.title}.compact.join(", ") %>',
      amount : <%= @order.line_items.sum(:amount) %>,
      buyer_email : 'iamport@siot.do',
      buyer_name : '구매자이름',
      buyer_tel : '010-6248-6986',
      buyer_addr : '서울특별시 강남구 삼성동',
      buyer_postcode : '123-456',
      // url: "<%# payment_completed_order_path(@order) %>"
    }, function(rsp) {
      if ( rsp.success ) {
          var msg = '결제가 완료되었습니다.';
          msg += '고유ID : ' + rsp.imp_uid;
          msg += '상점 거래ID : ' + rsp.merchant_uid;
          msg += '결제 금액 : ' + rsp.paid_amount;
          msg += '카드 승인번호 : ' + rsp.apply_num;
          window.location = '<%= order_path(@order) %>';
      } else {
          var msg = '결제에 실패하였습니다.';
          msg += '에러내용 : ' + rsp.error_msg;
      }
      alert(msg);
    });

    function payment_btn(){
      if(document.myform.onsubmit &&
      !document.myform.onsubmit())
      {
        return;
      }
      document.myform.submit();
    }

    $.ajax({
      type:"POST",
      url:"<%= order_path(@order) %>",
      dataType:"json",
      data:{
      // address_1:'<%# @order[:address_1] %>',
      },
      success:function(data){
        alert("결제가 완료 되었습니다")
      },
    });
  }
//   $(document).ready(function () {
//
//     console.log('함수실행됨');
//     var IMP = window.IMP;
//     // 가맹점 코드
//     IMP.init('imp37336175');
//     var type = "<%= params[:type] %>";
//     var name = "<%= params[:name] %>";
//     var buyer_name = "<%= params[:buyer_name] %>";
//     var phone_number = "<%= params[:phone_number] %>";
//     var email = "<%= params[:email] %>";
//     var address = "<%= params[:address] %>";
//     var amount = "<%= params[:amount] %>";
//     var postcode = "<%= params[:postcode] %>";
//     IMP.request_pay({
//
//     pg : 'inicis', // version 1.1.0부터 지원.
//
//     pay_method : 'card',
//
//     merchant_uid : 'merchant_' + new Date().getTime(),
//
//     name : '<%# truncate @order.line_items.map{|line_item| line_item&.product&.title}.compact.join(", ") %>',
//
//     amount : <%# @order.line_items.sum(:amount) %>,
//
//     buyer_email : email,
//
//     buyer_name : buyer_name,
//
//     buyer_tel : phone_number,
//
//     buyer_addr : address,
//
//     buyer_postcode : postcode,
//
//     digital : 'true',
//
//   }, function(rsp) {
//
//     console.log('호출실행됨');
//
// if ( rsp.success ) {
//
//     //[1] 서버단에서 결제정보 조회를 위해 jQuery ajax로 imp_uid 전달하기
//
//     jQuery.ajax({
//
//       url: "/payments", //cross-domain error가 발생하지 않도록 동일한 도메인으로 전송
//       type: 'POST',
//       dataType: 'json',
//       data: {
//         imp_uid : rsp.imp_uid,
//         //기타 필요한 데이터가 있으면 추가 전달
//       }
//     }).done(function(data) {
//
//       console.log('호출끝남');
//
//       //[2] 서버에서 REST API로 결제정보확인 및 서비스루틴이 정상적인 경우
//
//       if ( rsp.success ) {
//
//         var msg = '결제가 완료되었습니다.';
//
//         msg += '\n고유ID : ' + rsp.imp_uid;
//
//         msg += '\n상점 거래ID : ' + rsp.merchant_uid;
//
//         msg += '\n결제 금액 : ' + rsp.paid_amount;
//
//         msg += '카드 승인번호 : ' + rsp.apply_num;
//
//         alert(msg);
//         window.location = '/'; //완료페이지로 이동
//       } else {
//         console.log('결제실패함');
//         //[3] 아직 제대로 결제가 되지 않았습니다.
//         //[4] 결제된 금액이 요청한 금액과 달라 결제를 자동취소처리하였습니다.
//       }
//     }).fail(function (data) {
//        console.log("결제 fail");
//        window.location = '/payments/complete?id=' + rsp.imp_uid
//       });
//   } else {
//     console.log('결제취소');
//       var msg = '결제에 실패하였습니다.';
//       msg += '에러내용 : ' + rsp.error_msg;
//       alert(msg);
//       window.history.go(-4); //실패
//   }
//         });
//      });

  function sample4_execDaumPostcode() {
    new daum.Postcode({
      oncomplete: function(data) {
        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
        // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
        var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
        var extraRoadAddr = ''; // 도로명 조합형 주소 변수

        // 법정동명이 있을 경우 추가한다. (법정리는 제외)
        // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
        if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
            extraRoadAddr += data.bname;
        }
        // 건물명이 있고, 공동주택일 경우 추가한다.
        if(data.buildingName !== '' && data.apartment === 'Y'){
          extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
        }
        // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
        if(extraRoadAddr !== ''){
            extraRoadAddr = ' (' + extraRoadAddr + ')';
        }
        // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
        if(fullRoadAddr !== ''){
            fullRoadAddr += extraRoadAddr;
        }
        // 우편번호와 주소 정보를 해당 필드에 넣는다.
        document.getElementById('sample4_postcode').value = data.zonecode; //5자리 새우편번호 사용
        document.getElementById('sample4_roadAddress').value = fullRoadAddr;
        document.getElementById('sample4_jibunAddress').value = data.jibunAddress;
        // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
        if(data.autoRoadAddress) {
            //예상되는 도로명 주소에 조합형 주소를 추가한다.
            var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
            document.getElementById('guide').innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
        } else if(data.autoJibunAddress) {
            var expJibunAddr = data.autoJibunAddress;
            document.getElementById('guide').innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
        } else {
            document.getElementById('guide').innerHTML = '';
        }
      }
    }).open();
  }
  function ChooseContact(data)
{
  alert(data);
  document.getElementById("friendName").value = data;
}
</script>
