<style>
  .table th{
    text-align:center;
  }
  .table td{
    text-align:center;
    vertical-align:middle;
    padding:unset;
  }
  .list div{
    vertical-align:middle;
    margin-top:2px;
  }
</style>
<div class="container" style="padding-top:1.5rem;">
  <h5 align="center" style="font-size:xx-larger; font-weight:bold">주문완료</h5>
  <div class="span" style="padding-top:15px;" >
    <h5>결제 정보</h5>
  </div>
  <div class="list border-bottom border-top p-3" style="margin-top:25px;">
    <div>
      결제일 : <%= @order.completed_at&.strftime("%Y/%m/%d %H:%M") %> <br>
      주문번호 : <%= @order.id %> <br>
      우편번호 : <%= @order.post_code %> <br>
      도로명주소 : <%= @order.address_1 %> <br>
      지번주소 : <%= @order.address_2 %> <br>
      나머지주소 : <%= @order.address_3 %> <br>
      하고 싶은 말 : <%= @order.note %>
    </div>
  </div>
  <div class="span pt-4">
    <h5>결제 상품</h5>
  </div>
  <table class="table table-striped border-bottom my-4">
    <thead>
      <tr>
        <th scope="col">상품</th>
        <th scope="col">상품이름</th>
        <th scope="col">상품정보</th>
        <th scope="col">가격</th>
        <th scope="col">수량</th>
      </tr>
    </thead>
    <tbody>
      <% if @order.present? %>
        <% @order.line_items.each do |line_item|  %>
          <tr>
            <td><%= image_tag(line_item.product.image_url, alt:"", style:"width:70px; height:65px;")%></td>
            <td><%= line_item.product.title %></td>
            <td><%= line_item.product.body %></td>
            <td><strong><%= number_with_delimiter(line_item.product.price) %> 원</strong></td>
            <td><span id="quantity-<%= line_item.id %>"><%= number_with_delimiter(line_item.quantity) %></span></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" style="padding-right:7rem; padding-top:20px; padding-bottom:15px;">
          <strong>총 :<span id="item-total"><%= number_with_delimiter @order.line_items.sum(:amount)%></span> 원</strong>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="row mx-2" style="float:right; margin-top:1rem;">
    <%= link_to "쇼핑더하기", products_path, class:"btn btn-dark mx-2", style:"float:right" %>
    <%= link_to "주문내역", orders_path, class:"btn btn-dark mx-2", style:"float:right" %>
    <%= link_to '홈', root_path, class:"btn btn-dark mx-2", style:"float:right;" %>
  </div>
</div>
