<style>
  .container tbody a{
    color:white;
  }
  .container tbody h5{
    text-overflow: ellipsis;
    color:black;
  }
  .table td{
    text-align:center;
    vertical-align:middle;
  }
  .table th{
    text-align:center;
  }
  .table td h5{
    height:10px;
  }
</style>
<div class="container" style="padding-top:2rem; margin-left:8rem;">
  <h4 class="title" style="line-height:3; text-align:center;">고객 센터 Q&A</h4>
  <table class="table m-4 border-bottom">
    <thead>
      <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">내용</th>
        <th scope="col">email</th>
        <th scope="col">-</th>
      </tr>
    </thead>
    <tbody>
      <% if @contacts.present? %>
        <% @contacts.each_with_index do |contact,index| %>
          <tr>
            <td>
              <%= link_to contact_path(contact) do %>
                <h5><%= index+1 %></h5>
              <% end %>
            </td>
            <td>
              <%= link_to contact_path(contact) do %>
                <h5><%= truncate contact.title %></h5>
              <% end %>
            </td>
            <td>
              <%= link_to contact_path(contact) do %>
                <h5><%= truncate contact.body %></h5>
              <% end %>
            </td>
            <td>
              <%= link_to contact_path(contact) do %>
                <h5><%= contact.user.email %></h5>
              <% end %>
            </td>
            <td>
              <div class="btn btn-dark mr-2">
                <%= link_to "수정하기", edit_contact_path(contact) %>
              </div>
              <div class="btn btn-dark">
                <%= link_to "삭제하기", contact_path(contact), data:{method: :delete, confirm: "삭제하시겠습니까?"} %>
              </div>
            </td>
          </tr>
        <% end %>
    </tbody>
    <% else %>
      <tfoot align="center">
        <tr>
          <td colspan="5">
            문의 내역이 없습니다.
          </td>
        </tr>
      </tfoot>
    <% end %>
  </table>
  <button type="button" class="btn btn-dark" style="float:right">
    <%= link_to "문의하기", new_contact_path, style:"border-radius:2px; color:white;" %>
  </button>
</div>
